<html >
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<body class="background">
 

   

    <ul class="listte">
        
        <li class="item"><span class="dess">Champigion</span><span class="prix"> 4.000    </span></li>

        <li class="item"><span class="dess">Jambon</span><span class="prix"> 4.000    </span></li>

        <li class="item"><span class="dess">Pepperoni</span><span class="prix"> 5.000    </span></li>
        <li class="item"><span class="dess">Thon </span><span class="prix"> 6.000    </span></li>

        <li class="item"><span class="dess">Fromage</span><span class="prix"> 6.000    </span></li>
    
        <li class="item"><span class="dess">Burrata</span><span class="prix"> 10.000    </span></li>
      
    

        <li class="item"><span class="dess">Saumon</span><span class="prix"> 10.000    </span></li>

    </ul>

   
   
    <div>
       
        <!-- <img src="/assets/photos/thes2.png"alt="Description of the image" class="photo1"> -->

        <button class="mt-3 btn btn-dark buttonADDd" type="button"  (click)="goToMenu()" > &lt;-- Menu</button>

    </div>
  </body>
  </html>
  