<html >
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<body class="background">
 


    <ul class="listte">
        <li class="item"> <span class="dess">Tasse de lait</span> <span class="prix"> 2.000   </span></li>
        <li class="item"><span class="dess">Express </span><span class="prix"> 3.000    </span></li>
        <li class="item"><span class="dess">Américan</span><span class="prix"> 3.500</span></li>
        <li class="item"><span class="dess">Capucin</span><span class="prix"> 3.500</span></li>
        <li class="item"><span class="dess">Chocolat au lait</span> <span class="prix"> 3.000</span></li>
        <li class="item"><span class="dess">Cafê creme</span> <span class="prix"> 4.000</span></li>
        <li class="item"><span class="dess">Express sp
            écial </span><span class="prix"> 4.500</span></li>
        <li class="item"><span class="dess">Café aramatise</span> <span class="prix"> 5.000</span></li>
        <li class="item2">(noisette,vanille,caramel,cookies ) </li>
        <li class="item"><span class="dess">Capucin spécial</span><span class="prix"> 4.000</span></li>
        <li class="item"><span class="dess">café creme special</span><span class="prix">  4.500</span></li>
        <li class="item"><span class="dess">Capuccino</span><span class="prix">  5.000</span></li>
        <li class="item"><span class="dess">café Turc</span><span class="prix">  5.000</span></li>
        <li class="item"><span class="dess">Chocolat chaud</span><span class="prix">5.000</span></li>
        <li class="item"><span class="dess">Chocolat chaud chanfilly</span><span class="prix"> 6.500</span></li>
        <li class="item"><span class="dess">Chocolat chaud fruits secs</span><span class="prix"> 6.800</span></li>
        <li class="item"><span class="dess">Café liegeois</span><span class="prix"> 6.500</span></li>
       
    </ul>

    <div>
       
        <!-- <img src="/assets/photos/thes2.png"alt="Description of the image" class="photo1"> -->

        <button class="mt-3 btn btn-dark buttonADDd" type="button"  (click)="goToMenu()" > &lt;-- Menu</button>

    </div>
  </body>
  </html>
  