.background {
    background-image: url("/assets/photos/cafee.png");
    background-size: 100% 100%;               /* Ensures the image covers the full element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh;               /* Sets height to viewport height */
    width: 100vw;                /* Sets width to viewport width */
    margin: 0;                   /* Removes any default body margin */
    overflow: hidden;            /* Prevents scrolling from small gaps */
}
.listte{
  position: relative;
  font-size: 15px;
  left: 10px;
  top :250px;
  color: aliceblue;
  list-style: none;   
}
.listte2{
    position: relative;
    font-size: 15px;
    left: 10px;
    top :335px;
    color: aliceblue;
    list-style: none;   
  }
.titlee{
    position: absolute;
    top: 240px;
    left :30px;
    text-decoration: underline;
    color: #78909C; 
    letter-spacing: 3px;

}
.titlee2{
    position: absolute;
    top: 480px;
    left :30px;
    text-decoration: underline;
    color: #78909C; 
    /* color: rgb(225, 201, 201);    FFAB00*/
    letter-spacing: 3px;

   

}
.item {
  display: flex;
  justify-content: space-between;  /* Spreads the item and price */
  align-items: center;             /* Aligns items vertically centered */
  color: rgb(255, 255, 255);
  font-size:15px ;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 4px;
}

.item2{
    margin-top: 4px;
    margin-bottom: 2px;
    margin-left: 10px;
    font-size: 13px;
  }

.dess{
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.prix {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-right: 45px;                   /* Adds space on the right */
  color: #ffffff;                        /* Sets the text color */
  font-weight: bold;                     /* Makes the text bold */
                    /* Slightly increases font size */
            /* Adds a light background */
                   /* Rounds the background corners */
                   /* Adds space around the text */
  
                   /* Aligns text to the right */
}
.buttonADDd{
  position: fixed;  /* Use fixed position to stick the button to the viewport */
  bottom: 90px;     /* Distance from the bottom of the page */
  left: 20px;       /* Distance from the left edge */
  background-color: rgb(255, 255, 255);
  color: black;

  font-weight: bold;
  padding: 10px 20px; /* Optional: to make the button bigger */
  border-radius: 30px;  /* Optional: to round the corners */
  font-size: 14px;  /* Optional: to set the text size */
  z-index: 1000; 
  opacity: 0.7;
}


@media (max-height: 667px) {
  .titlee{
    position: absolute;
    top: 190px;
    left :30px;
    text-decoration: underline;
    color: #78909C; 
    letter-spacing: 3px;

}
  .listte{
    position: relative;
    font-size: 13px;
    left: 10px;
    top :190px;
    color: aliceblue;
    list-style: none;   
  }
  .item {
    display: flex;
    justify-content: space-between;  /* Spreads the item and price */
    align-items: center;             /* Aligns items vertically centered */
    color: rgb(255, 255, 255);
    font-size:12px ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 4px;
  }
  
  .item2{
      margin-top: 2px;
      margin-bottom: 2px;
      margin-left: 10px;
      font-size: 13px;
    }
    .titlee2{
      position: absolute;
      top: 390px;
      left :30px;
      text-decoration: underline;
      color: #78909C; 
      /* color: rgb(225, 201, 201);    FFAB00*/
      letter-spacing: 3px;
  
     
  
  }
  .listte2{
    position: relative;
    font-size: 15px;
    left: 10px;
    top :250px;
    color: aliceblue;
    list-style: none;   
  }
  .buttonADDd{
   /* Use fixed position to stick the button to the viewport */
    bottom: 60px;     /* Distance from the bottom of the page */
  
    font-size: 12px; 
    padding: 5px 10px;
  }
}