<html >
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<body class="background">
 

   
  <h2 class="titlee"> Crepes Sucres</h2>
    <ul class="listte">
        
        <li class="item"><span class="dess">Nutella </span><span class="prix"> 8.000    </span></li>

        <li class="item"><span class="dess">Nutella + banane </span><span class="prix"> 10.000    </span></li>

        <li class="item"><span class="dess">Nutella spéculos </span><span class="prix"> 10.000    </span></li>
        <li class="item"><span class="dess">Nutella + fruits secs </span><span class="prix"> 12.000    </span></li>

        <li class="item"><span class="dess">Ferrero rocher </span><span class="prix"> 12.000    </span></li>

        <li class="item"><span class="dess">Memories </span><span class="prix"> 16.000    </span></li>
        <li class="item2">( nutella ? spéculos / fruits secs)</li>
    </ul>

    <h2 class="titlee2"> Crepes salee</h2> 
    <ul class="listte2">
        
        <li class="item"><span class="dess">Jombon , fromage </span><span class="prix"> 8.000    </span></li>

        <li class="item"><span class="dess">Thon + fromage </span><span class="prix"> 10.000    </span></li>

        <li class="item"><span class="dess">Thon, Fromage, jambon</span><span class="prix"> 10.000    </span></li>
       

        <li class="item"><span class="dess">Spêciale </span><span class="prix"> 16.000    </span></li>
        <li class="item2">( Thon ? fromage /  jombon,ouef , hrissa)</li>
    </ul>
    
    <div>
       
        <!-- <img src="/assets/photos/thes2.png"alt="Description of the image" class="photo1"> -->

        <button class="mt-3 btn btn-dark buttonADDd" type="button"  (click)="goToMenu()" > &lt;-- Menu</button>

    </div>
  </body>
  </html>
  