<html >
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<body class="background">
 

   

    <ul class="listte">
        
        <li class="item"><span class="dess">Puttanesca </span><span class="prix"> 18.000    </span></li>

        <li class="item"><span class="dess">Spagehetti bolognaise </span><span class="prix"> 21.000    </span></li>

        <li class="item"><span class="dess">Lasagne </span><span class="prix"> 25.000    </span></li>
        <li class="item"><span class="dess">Spagehetti Zanzouri </span><span class="prix"> 25.000    </span></li>
        <li class="item2">( creme fraiche escalope 2 sortes de formage basilic champigion )</li>
        <li class="item"><span class="dess">Spagehetti aux fruits de mer  </span><span class="prix"> 32.000    </span></li>
    
        <li class="item"><span class="dess">Paella valencienne  </span><span class="prix"> 60.000    </span></li>
        <li class="item2">( pour deux personne  ) sur commande une heure d avance</li>
        <li class="item"><span class="dess">Paella fruits de mer  </span><span class="prix"> 70.000    </span></li>
        <li class="item2">( pour deux personne  ) sur commande une heure d avance</li>

    </ul>

   
   
    <div>
       
        <!-- <img src="/assets/photos/thes2.png"alt="Description of the image" class="photo1"> -->

        <button class="mt-3 btn btn-dark buttonADDd" type="button"  (click)="goToMenu()" > &lt;-- Menu</button>

    </div>
  </body>
  </html>
  