<html >
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<body class="background">
 

   
  <h2 class="titlee"> MOJITOS</h2>
    <ul class="listte">
        
        <li class="item"><span class="dess">Classique vergine </span><span class="prix"> 6.000    </span></li>

        <li class="item"><span class="dess"> Strawberry</span><span class="prix"> 7.000    </span></li>

        <li class="item"><span class="dess">Blue</span><span class="prix"> 7.000    </span></li>
      
    </ul>

    <h2 class="titlee2"> JUS</h2> 
    <ul class="listte2">
        
        <li class="item"><span class="dess">Citronnade</span><span class="prix"> 4.000    </span></li>

        <li class="item"><span class="dess">Ananas</span><span class="prix"> 4.000    </span></li>

        <li class="item"><span class="dess">Pomme</span><span class="prix"> 4.500    </span></li>
       

        <li class="item"><span class="dess">Pêche </span><span class="prix"> 5.000    </span></li>

        <li class="item"><span class="dess">Orange </span><span class="prix"> 5.000    </span></li>

        <li class="item"><span class="dess">Fraise </span><span class="prix"> 6.500    </span></li>

        <li class="item"><span class="dess">Kiwi </span><span class="prix"> 5.000    </span></li>



    
    </ul>
    
    <div>
       
        <!-- <img src="/assets/photos/thes2.png"alt="Description of the image" class="photo1"> -->

        <button class="mt-3 btn btn-dark buttonADDd" type="button"  (click)="goToMenu()" > &lt;-- Menu</button>

    </div>
  </body>
  </html>
  