<html >
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<body class="background">
 

   

    <ul class="listte">
        
        <li class="item"><span class="dess">Pizza Kids </span><span class="prix"> 12.000    </span></li>

            <li class="item2">(sauce tomate,mozzarella,thon ou jombon,origon)</li>

        <li class="item"><span class="dess">Pizza Margueritta</span><span class="prix"> 13.000    </span></li>
             <li class="item2">(sauce tomate,mozzarella,origon)</li> 
        <li class="item"><span class="dess">Pizza Napoliataine</span><span class="prix"> 16.000    </span></li> 
            <li class="item2">(sauce tomate,mozzarella,anchois,capre,origon)</li>
        <li class="item"><span class="dess">Piiza Regina</span><span class="prix"> 17.000  </span></li>
            <li class="item2">(sauce tomate,mozzarella,jombon,origon,champignons)</li>

        <li class="item"><span class="dess">Pizza Vegetarienne </span><span class="prix"> 17.000    </span></li>
            <li class="item2">(sauce tomate,mozzarella,origon,poivron,champignons,artichaut,origon)</li>
         <li class="item"><span class="dess">Pizza Altano</span><span class="prix"> 17.000    </span></li>
             <li class="item2">(sauce tomate,mozzarella,thon,olives,origon)</li>
        <li class="item"><span class="dess">Pizza Stramboli</span><span class="prix"> 17.000    </span></li> 
            <li class="item2">(sauce tomate,jombon,origon,thon,artichaut,aubergine,poivron)</li>
        <li class="item"><span class="dess">Pizza Escalope</span><span class="prix"> 17.000    </span></li>
            <li class="item2">(sauce tomate,mozzarella escalope,origon)</li>
        <li class="item"><span class="dess">Pizza Calzoni</span><span class="prix"> 19.000    </span></li>
            <li class="item2">(sauce tomate,mozzarella,jombon,thon,origon,chompignons)</li>
         <li class="item"><span class="dess">Pizza Zanzouri</span><span class="prix"> 19.000    </span></li>
            <li class="item2">(sauce tomate,mozzarella,jombon,gruyere,origon,champignons)</li>

        <li class="item"><span class="dess">Pizza Torrino</span><span class="prix"> 19.000    </span></li> 
            <li class="item2">(sauce tomate,mozzarella,thon ou jombon,origon)</li>
        <li class="item"><span class="dess">Pizza Pepperoni</span><span class="prix"> 19.000    </span></li>
            <li class="item2">(sauce tomate,mozzarella,pepperoni,champignons)</li>
        <li class="item"><span class="dess">Pizza Ghalia</span><span class="prix"> 19.000    </span></li> 
            <li class="item2">(sauce tomate,mozzarella,comembert,origon)</li>
        <li class="item"><span class="dess">Pizza Mexicaine</span><span class="prix"> 22.000    </span></li>
            <li class="item2">(sauce tomate,mozzarella,viande hachee ,champignons,origon)</li>
        <li class="item"><span class="dess">Pizza 4 saison</span><span class="prix"> 20.000    </span></li> 
            <li class="item2">(sauce tomate,mozzarella,pavion,aubergine,champignons,thon ,origon)</li>
        <li class="item"><span class="dess">Pizza au saumon</span><span class="prix"> 23.000    </span></li>
            <li class="item2">(sauce blanche,mozzarella,soumon,origon)</li>
        <li class="item"><span class="dess">Pizza 4 fromages </span><span class="prix"> 22.000    </span></li>
            <li class="item2">(sauce blanche,mozzarella,gruyere,origon)</li>

        <li class="item"><span class="dess">Pizza Memories</span><span class="prix"> 24.000    </span></li>
            <li class="item2">(sauce tomate,mozzarella,saumon,chevrette,gruyere,champignons,origon)</li>
    </ul>

    <div>
       
        <!-- <img src="/assets/photos/thes2.png"alt="Description of the image" class="photo1"> -->

        <button class="mt-3 btn btn-dark buttonADDd" type="button"  (click)="goToMenu()" > &lt;-- Menu</button>

    </div>
  </body>
  </html>
  