<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<div class="background">
    <div class="overlay">
       <div class="top"> 
        <img src="/assets/photos/CafeLogo.png" alt="Cafe Logo">
      
        <h1>Menu</h1>
      </div>
      
      <div class="categories">
        <div class="category-box" (click)="selectCategory('NosCafe')"><img src="/assets/photos/icons/cup-of-coffee.png">Nos Café</div>
        <div class="category-box" (click)="selectCategory('Nos Thés')"><img src="/assets/photos/icons/cup-of-tea.png">Nos Thés</div>
        <div class="category-box" (click)="selectCategory('Nos Boissons')"><img src="/assets/photos/icons/soda-can.png">Nos Boissons </div>
        <div class="category-box" (click)="selectCategory('Nos Cocktail')"><img src="/assets/photos/icons/cocktail.png">Nos Cocktails </div>
        <div class="category-box" (click)="selectCategory('Nos Mojitos')"><img src="/assets/photos/icons/mojito.png">Nos Mojitos </div>
        <div class="category-box" (click)="selectCategory('Nos Jus')"><img src="/assets/photos/icons/jus.png">Nos Jus </div>
        <div class="category-box" (click)="selectCategory('Nos milk-shake')"><img src="/assets/photos/icons/milk-shake.png">Milk Shake </div>
        <div class="category-box" (click)="selectCategory('Nos Pâtisseries')"><img src="/assets/photos/icons/patesserie.png">Nos Pâtisseries </div>
        <div class="category-box" (click)="selectCategory('Nos crepe-succrée')"><img src="/assets/photos/icons/crepe-succrée.png">Nos Crêpes Sucrées </div>
        <div class="category-box" (click)="selectCategory('Nos crepes-sallée')"><img src="/assets/photos/icons/crepes-sallée.png">Nos Crêpes Salées </div>
        <div class="category-box" (click)="selectCategory('Nos Entrées')"><img src="/assets/photos/icons/entree.png">Nos Entrées </div>
        <div class="category-box" (click)="selectCategory('Nos Pizzas')"><img src="/assets/photos/icons/pizza.png">Nos Pizzas </div>
        <div class="category-box" (click)="selectCategory('Nos Pates')"><img src="/assets/photos/icons/pate.png">Nos Pates </div>
        <div class="category-box" (click)="selectCategory('Nos Plats')"><img src="/assets/photos/icons/plat.png">Nos Plats </div>
        <div class="category-box" (click)="selectCategory('Nos Suppléments')"><img src="/assets/photos/icons/plus.png">Nos Suppléments </div>
      </div>
      <!-- <app-menu [selectedCategory]="selectedCategory"></app-menu> -->
    </div>
    </div>
  </html>
  