<html >
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<body class="background">
 

   

    <ul class="listte">
        
        <li class="item"><span class="dess">Fraise</span><span class="prix"> 6.000    </span></li>

        <li class="item"><span class="dess">Vanille</span><span class="prix"> 6.000    </span></li>

        <li class="item"><span class="dess">Nutella</span><span class="prix">  7.000    </span></li>
        <li class="item"><span class="dess">Oreo </span><span class="prix">  7.500   </span></li>

        <li class="item"><span class="dess">Kinder</span><span class="prix"> 7.500    </span></li>
    
        <li class="item"><span class="dess">Kikat</span><span class="prix">  7.500  </span></li>
      
    

        <li class="item"><span class="dess">Snickers</span><span class="prix"> 7.500    </span></li>

        <li class="item"><span class="dess">Speculos</span><span class="prix"> 8.500    </span></li>
    </ul>

   
   
    <div>
       
        <!-- <img src="/assets/photos/thes2.png"alt="Description of the image" class="photo1"> -->

        <button class="mt-3 btn btn-dark buttonADDd" type="button"  (click)="goToMenu()" > &lt;-- Menu</button>

    </div>
  </body>
  </html>
  